/*GRADIENTS*/
.gradient-purple-pink{
    background: linear-gradient(90deg, rgba(67, 59, 96, 0.5) 50%, rgba(248, 58, 91, 1) 100%);
}

.gradient-purple-pink-yellow-option-1{
    background: linear-gradient(45deg, rgba(45,41,60,1) 25%, rgba(248,58,91,1) 80%, rgba(255,202,68,0.8800654050682774) 100%);
}

.gradient-purple-pink-yellow-option-2{
    background: linear-gradient(45deg, rgba(67,59,96,1) 25%, rgba(248,58,91,1) 75%, rgba(255,202,68,0.8800654050682774) 100%);
}


/*COLORS*/
.cream{
    color: #FFFEEB;
}

.pink-1{
    color: #F83A5B;
}

.pink-2{
    color:#fc375c;
}

.salmon {
    color: #ee7752;
}

.teal {
    color: #23d5ab;
}

.blue {
    color: #23a6d5;
}

.purple-dark-1{
    color: #433B60;
}
.purple-dark-2{
    color:#2d293c;
}

.yellow-1{
    color: #FFCA5B;
}
.yellow-2{
    color: #D8C690;
}
.yellow-3{
    color: #E5D9B6;
}

.pink-dark{
    color: #D0A59F;
}

.pink-light{
    color: #e4c0bb;
}